/* Reset body margin and padding */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

/* Container to center everything */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

/* Background animation */
body {
  background: url('assets/animated-background.gif') no-repeat center center fixed;
  background-size: cover; /* This will scale the image to cover the screen without distortion */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Centered logo */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 200px;
  max-height: 200px;
}

/* Main text styling */
h1 {
  font-size: 2.5em;
  color: white;
  margin: 20px 0;
}

.desc {
  font-size: 1.2em;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  max-width: 600px;
}

/* Small links */
.links a {
  font-size: 1em;
  color: white;
  margin: 5px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s;
}

.links a:hover {
  border-color: white;
}
